<div th:fragment="left_menu" class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html">
                <img class="main-logo" src="/static/img/logo/logo_blank.png" alt="" />
            </a>
            <!--                <strong><a href="admin.html">-->
            <!--                    <img src="/static/img/logo/logosn.png" alt="" />-->
            <!--                </a></strong>-->
        </div>

        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">

                    <li class="active">
                        <a class="has-arrow" href="bank-list">
                            <!--								   <span class="educate-icon educate-home icon-wrap"></span>-->
                            <span class="mini-click-non">Банки</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <!--                                <li><a title="Dashboard v.1" href="admin.html"><span class="mini-sub-pro">Dashboard v.1</span></a></li>-->
                            <!--                                <li><a title="Dashboard v.2" href="index-1.html"><span class="mini-sub-pro">Dashboard v.2</span></a></li>-->
                            <!--                                <li><a title="Dashboard v.3" href="index-2.html"><span class="mini-sub-pro">Dashboard v.3</span></a></li>-->
                            <!--                                <li><a title="Analytics" href="analytics.html"><span class="mini-sub-pro">Analytics</span></a></li>-->
                            <li><a title="Все банки" href="bank-list"><span class="mini-sub-pro">Все банки</span></a></li>
                        </ul>

                    </li>


                    <li class="active">
                        <a class="has-arrow" href="active-applications">
                            <!--								   <span class="educate-icon educate-home icon-wrap"></span>-->
                            <span class="mini-click-non">Заявки</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <!--                                <li><a title="Dashboard v.1" href="admin.html"><span class="mini-sub-pro">Dashboard v.1</span></a></li>-->
                            <!--                                <li><a title="Dashboard v.2" href="index-1.html"><span class="mini-sub-pro">Dashboard v.2</span></a></li>-->
                            <!--                                <li><a title="Dashboard v.3" href="index-2.html"><span class="mini-sub-pro">Dashboard v.3</span></a></li>-->
                            <!--                                <li><a title="Analytics" href="analytics.html"><span class="mini-sub-pro">Analytics</span></a></li>-->
                            <li><a title="Активные заявки" href="active-applications"><span class="mini-sub-pro">Активные заявки</span></a></li>
                        </ul>

                        <ul class="submenu-angle" aria-expanded="true">
                            <!--                                <li><a title="Dashboard v.1" href="admin.html"><span class="mini-sub-pro">Dashboard v.1</span></a></li>-->
                            <!--                                <li><a title="Dashboard v.2" href="index-1.html"><span class="mini-sub-pro">Dashboard v.2</span></a></li>-->
                            <!--                                <li><a title="Dashboard v.3" href="index-2.html"><span class="mini-sub-pro">Dashboard v.3</span></a></li>-->
                            <!--                                <li><a title="Analytics" href="analytics.html"><span class="mini-sub-pro">Analytics</span></a></li>-->
                            <li><a title="Мои заявки" href="client"><span class="mini-sub-pro">Мои заявки</span></a></li>
                        </ul>
                    </li>
                    <!--                        <li>-->
                    <!--                            <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Event</span></a>-->
                    <!--                        </li>-->
                    <li>
                        <a class="has-arrow" href="all-bank-workers" aria-expanded="false">
                            <!--                                <span class="educate-icon educate-professor icon-wrap"></span> -->
                            <span class="mini-click-non">Банковские работники</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Все работники" href="all-bank-workers"><span class="mini-sub-pro">Все работники</span></a></li>
                            <li><a title="Добавить работника" href="add-bank-worker.html"><span class="mini-sub-pro">Добавить работника</span></a></li>
                            <!--                                <li><a title="Edit Professor" href="edit-professor.html"><span class="mini-sub-pro">Edit Professor</span></a></li>-->
                            <!--                                <li><a title="Professor Profile" href="professor-edit-profile.html"><span class="mini-sub-pro">Professor Profile</span></a></li>-->
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="all-clients" aria-expanded="false">
                            <!--                                <span class="educate-icon educate-student icon-wrap"></span> -->
                            <span class="mini-click-non">Клиенты</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Все клиенты" href="all-clients"><span class="mini-sub-pro">Все клиенты</span></a></li>
                            <li><a title="Добавить клиента" href="add-client.html"><span class="mini-sub-pro">Добавить клиента</span></a></li>
                            <!--                                <li><a title="Edit Students" href="edit-student.html"><span class="mini-sub-pro">Edit Student</span></a></li>-->
                            <!--                                <li><a title="Students Profile" href="student-edit-profile.html"><span class="mini-sub-pro">Student Profile</span></a></li>-->
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="bank" aria-expanded="false">
                            <!--                                <span class="educate-icon educate-course icon-wrap"></span> -->
                            <span class="mini-click-non">Банковские продукты</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Все продукты" href="bank"><span class="mini-sub-pro">Все продукты</span></a></li>
                            <li><a title="Мои продукты" href="all-products.html"><span class="mini-sub-pro">Мои продукты</span></a></li>
                            <li><a title="Создать продукт" href="bankservicecreate"><span class="mini-sub-pro">Создать продукт</span></a></li>
                            <!--                                <li><a title="Edit Courses" href="edit-course.html"><span class="mini-sub-pro">Edit Course</span></a></li>-->
                            <!--                                <li><a title="Courses Profile" href="course-info.html"><span class="mini-sub-pro">Courses Info</span></a></li>-->
                            <!--                                <li><a title="Product Payment" href="course-payment.html"><span class="mini-sub-pro">Courses Payment</span></a></li>-->
                        </ul>
                    </li>

                    <!--                        <li>-->
                    <!--                            <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Library</span></a>-->
                    <!--                            <ul class="submenu-angle" aria-expanded="false">-->
                    <!--                                <li><a title="All Library" href="library-assets.html"><span class="mini-sub-pro">Library Assets</span></a></li>-->
                    <!--                                <li><a title="Add Library" href="add-library-assets.html"><span class="mini-sub-pro">Add Library Asset</span></a></li>-->
                    <!--                                <li><a title="Edit Library" href="edit-library-assets.html"><span class="mini-sub-pro">Edit Library Asset</span></a></li>-->
                    <!--                            </ul>-->
                    <!--                        </li>-->

                    <!--                        <li>-->
                    <!--                            <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Departments</span></a>-->
                    <!--                            <ul class="submenu-angle" aria-expanded="false">-->
                    <!--                                <li><a title="Departments List" href="departments.html"><span class="mini-sub-pro">Departments List</span></a></li>-->
                    <!--                                <li><a title="Add Departments" href="add-department.html"><span class="mini-sub-pro">Add Departments</span></a></li>-->
                    <!--                                <li><a title="Edit Departments" href="edit-department.html"><span class="mini-sub-pro">Edit Departments</span></a></li>-->
                    <!--                            </ul>-->
                    <!--                        </li>-->

<!--                    <li>-->
<!--                        <a class="has-arrow" href="mailbox.html" aria-expanded="false">-->
<!--                            &lt;!&ndash;                                <span class="educate-icon educate-message icon-wrap"></span> &ndash;&gt;-->
<!--                            <span class="mini-click-non">Чат</span></a>-->
<!--                        <ul class="submenu-angle" aria-expanded="false">-->
<!--                            <li><a title="Входящие" href="mailbox.html"><span class="mini-sub-pro">Входящие</span></a></li>-->
<!--                            &lt;!&ndash;                                <li><a title="View Mail" href="mailbox-view.html"><span class="mini-sub-pro">View Mail</span></a></li>&ndash;&gt;-->
<!--                            <li><a title="Написать сообщение" href="mailbox-compose.html"><span class="mini-sub-pro">Написать сообщение</span></a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

                    <!--                        <li>-->
                    <!--                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><span class="educate-icon educate-interface icon-wrap"></span> <span class="mini-click-non">Interface</span></a>-->
                    <!--                            <ul class="submenu-angle interface-mini-nb-dp" aria-expanded="false">-->
                    <!--                                <li><a title="Google Map" href="google-map.html"><span class="mini-sub-pro">Google Map</span></a></li>-->
                    <!--                                <li><a title="Data Maps" href="data-maps.html"><span class="mini-sub-pro">Data Maps</span></a></li>-->
                    <!--                                <li><a title="Pdf Viewer" href="pdf-viewer.html"><span class="mini-sub-pro">Pdf Viewer</span></a></li>-->
                    <!--                                <li><a title="X-Editable" href="x-editable.html"><span class="mini-sub-pro">X-Editable</span></a></li>-->
                    <!--                                <li><a title="Code Editor" href="code-editor.html"><span class="mini-sub-pro">Code Editor</span></a></li>-->
                    <!--                                <li><a title="Tree View" href="tree-view.html"><span class="mini-sub-pro">Tree View</span></a></li>-->
                    <!--                                <li><a title="Preloader" href="preloader.html"><span class="mini-sub-pro">Preloader</span></a></li>-->
                    <!--                                <li><a title="Images Cropper" href="images-cropper.html"><span class="mini-sub-pro">Images Cropper</span></a></li>-->
                    <!--                            </ul>-->
                    <!--                        </li>-->

                    <!--                        <li>-->
                    <!--                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><span class="educate-icon educate-charts icon-wrap"></span> <span class="mini-click-non">Charts</span></a>-->
                    <!--                            <ul class="submenu-angle chart-mini-nb-dp" aria-expanded="false">-->
                    <!--                                <li><a title="Bar Charts" href="bar-charts.html"><span class="mini-sub-pro">Bar Charts</span></a></li>-->
                    <!--                                <li><a title="Line Charts" href="line-charts.html"><span class="mini-sub-pro">Line Charts</span></a></li>-->
                    <!--                                <li><a title="Area Charts" href="area-charts.html"><span class="mini-sub-pro">Area Charts</span></a></li>-->
                    <!--                                <li><a title="Rounded Charts" href="rounded-chart.html"><span class="mini-sub-pro">Rounded Charts</span></a></li>-->
                    <!--                                <li><a title="C3 Charts" href="c3.html"><span class="mini-sub-pro">C3 Charts</span></a></li>-->
                    <!--                                <li><a title="Sparkline Charts" href="sparkline.html"><span class="mini-sub-pro">Sparkline Charts</span></a></li>-->
                    <!--                                <li><a title="Peity Charts" href="peity.html"><span class="mini-sub-pro">Peity Charts</span></a></li>-->
                    <!--                            </ul>-->
                    <!--                        </li>-->

                    <!--                        <li>-->
                    <!--                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">Data Tables</span></a>-->
                    <!--                            <ul class="submenu-angle" aria-expanded="false">-->
                    <!--                                <li><a title="Peity Charts" href="static-table.html"><span class="mini-sub-pro">Static Table</span></a></li>-->
                    <!--                                <li><a title="Data Table" href="data-table.html"><span class="mini-sub-pro">Data Table</span></a></li>-->
                    <!--                            </ul>-->
                    <!--                        </li>-->

                    <!--                        <li>-->
                    <!--                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Forms Elements</span></a>-->
                    <!--                            <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">-->
                    <!--                                <li><a title="Basic Form Elements" href="basic-form-element.html"><span class="mini-sub-pro">Bc Form Elements</span></a></li>-->
                    <!--                                <li><a title="Advance Form Elements" href="advance-form-element.html"><span class="mini-sub-pro">Ad Form Elements</span></a></li>-->
                    <!--                                <li><a title="Password Meter" href="password-meter.html"><span class="mini-sub-pro">Password Meter</span></a></li>-->
                    <!--                                <li><a title="Multi Upload" href="multi-upload.html"><span class="mini-sub-pro">Multi Upload</span></a></li>-->
                    <!--                                <li><a title="Text Editor" href="tinymc.html"><span class="mini-sub-pro">Text Editor</span></a></li>-->
                    <!--                                <li><a title="Dual List Box" href="dual-list-box.html"><span class="mini-sub-pro">Dual List Box</span></a></li>-->
                    <!--                            </ul>-->
                    <!--                        </li>-->

                    <!--                        <li>-->
                    <!--                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><span class="educate-icon educate-apps icon-wrap"></span> <span class="mini-click-non">App views</span></a>-->
                    <!--                            <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">-->
                    <!--                                <li><a title="Notifications" href="notifications.html"><span class="mini-sub-pro">Notifications</span></a></li>-->
                    <!--                                <li><a title="Alerts" href="alerts.html"><span class="mini-sub-pro">Alerts</span></a></li>-->
                    <!--                                <li><a title="Modals" href="modals.html"><span class="mini-sub-pro">Modals</span></a></li>-->
                    <!--                                <li><a title="Buttons" href="buttons.html"><span class="mini-sub-pro">Buttons</span></a></li>-->
                    <!--                                <li><a title="Tabs" href="tabs.html"><span class="mini-sub-pro">Tabs</span></a></li>-->
                    <!--                                <li><a title="Accordion" href="accordion.html"><span class="mini-sub-pro">Accordion</span></a></li>-->
                    <!--                            </ul>-->
                    <!--                        </li>-->

                    <!--                        <li id="removable">-->
                    <!--                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-pages icon-wrap"></span> <span class="mini-click-non">Pages</span></a>-->
                    <!--                            <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">-->
                    <!--                                <li><a title="Login" href="login.html"><span class="mini-sub-pro">Login</span></a></li>-->
                    <!--                                <li><a title="Register" href="register.html"><span class="mini-sub-pro">Register</span></a></li>-->
                    <!--                                <li><a title="Lock" href="lock.html"><span class="mini-sub-pro">Lock</span></a></li>-->
                    <!--                                <li><a title="Password Recovery" href="password-recovery.html"><span class="mini-sub-pro">Password Recovery</span></a></li>-->
                    <!--                                <li><a title="404 Page" href="404.html"><span class="mini-sub-pro">404 Page</span></a></li>-->
                    <!--                                <li><a title="500 Page" href="500.html"><span class="mini-sub-pro">500 Page</span></a></li>-->
                    <!--                            </ul>-->
                    <!--                        </li>-->

                </ul>
            </nav>
        </div>
    </nav>
</div>