<!doctype html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="inc/head.inc::head"></head>

<body>
    <!--[if lt IE 8]-->
    <!--    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
	<!--[endif]-->

    <!-- Start Left menu area -->
    <div th:replace="inc/left_menu.inc::left_menu"></div>

    <!-- Start Welcome area -->
    <div th:replace="inc/top_nav.inc::top_nav"></div>

    <!-- accordion start-->
    <div class="edu-accordion-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="tab-content-details mg-b-30">
                        <h2>Агрегатор банковских счетов</h2>
                        <p>Проект "Агрегатор банковских счетов" является учебным и был создан для тестирования модели взаимодейтсвия
                        сотрудников банков с клиентами. Проект находится на стадии разработки, тестируются различные функции, ведется
                        доработка ролевых моделей. Мы будем рады Вашим замечаниям. </p>
<!--                        <p>These are the Custom Animate accordion Bootstrap. Using animate bounce, flash, pulse, rubberBand, shake, swing, tada, wobble, jello, bounceIn, bounceInDown, bounceInLeft, bounceInRight, bounceInUp, fadeIn, fadeInDown, fadeInDownBig,-->
<!--                            fadeInLeft, fadeInLeftBig, fadeInRight, fadeInRightBig, fadeInUp, fadeInUpBig, flipInX, flipInY, lightSpeedIn, rotateIn, rotateInDownLeft, rotateInDownRight, rotateInUpLeft, rotateInUpRight, rollIn, zoomIn, zoomInDown,-->
<!--                            zoomInLeft, zoomInRight, zoomInUp etc.</p>-->
                    </div>
                </div>
            </div>
            <div class="row">
<!--                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--                    <div class="admin-pro-accordion-wrap shadow-inner responsive-mg-b-30">-->
<!--                        <div class="alert-title">-->
<!--                            <h2>Animate bounce Accordion</h2>-->
<!--                            <p>These are the Custom bootstrap Animate bounce Accordion style 1</p>-->
<!--                        </div>-->
<!--                        <div class="panel-group edu-custon-design" id="accordion">-->
<!--                            <div class="panel panel-default">-->
<!--                                <div class="panel-heading accordion-head">-->
<!--                                    <h4 class="panel-title">-->
<!--                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">-->
<!--                                            Collapsible Group 1</a>-->
<!--                                    </h4>-->
<!--                                </div>-->
<!--                                <div id="collapse1" class="panel-collapse panel-ic collapse in">-->
<!--                                    <div class="panel-body admin-panel-content animated bounce">-->
<!--                                        <p>It was popularised in the 1960s with the release of Letraset sheets of the containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>-->
<!--                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua of Lorem Ipsum.</p>-->
<!--                                        <p> Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisis ut aliquip ex ea commodo consequat consectetur adipisicing elit.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="panel panel-default">-->
<!--                                <div class="panel-heading accordion-head">-->
<!--                                    <h4 class="panel-title">-->
<!--                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">-->
<!--                                            Collapsible Group 1</a>-->
<!--                                    </h4>-->
<!--                                </div>-->
<!--                                <div id="collapse2" class="panel-collapse panel-ic collapse">-->
<!--                                    <div class="panel-body admin-panel-content animated bounce">-->
<!--                                        <p>It was popularised in the 1960s with the release of Letraset sheets of the containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>-->
<!--                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua of Lorem Ipsum.</p>-->
<!--                                        <p> Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisis ut aliquip ex ea commodo consequat consectetur adipisicing elit.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="panel panel-default">-->
<!--                                <div class="panel-heading accordion-head">-->
<!--                                    <h4 class="panel-title">-->
<!--                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">-->
<!--                                            Collapsible Group 1</a>-->
<!--                                    </h4>-->
<!--                                </div>-->
<!--                                <div id="collapse3" class="panel-collapse panel-ic collapse">-->
<!--                                    <div class="panel-body admin-panel-content animated bounce">-->
<!--                                        <p>It was popularised in the 1960s with the release of Letraset sheets of the containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>-->
<!--                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua of Lorem Ipsum.</p>-->
<!--                                        <p> Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisis ut aliquip ex ea commodo consequat consectetur adipisicing elit.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="admin-pro-accordion-wrap shadow-inner">
<!--                        <div class="alert-title">-->
<!--                            <h2>Animate flash Accordion</h2>-->
<!--                            <p>These are the Custom bootstrap Animate flash Accordion style 2</p>-->
<!--                        </div>-->
                        <div class="panel-group edu-custon-design" id="accordion2">
                            <div class="panel panel-default">
                                <div class="panel-heading accordion-head">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                                            Информация о роли администратора системы</a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse panel-ic collapse in">
                                    <div class="panel-body admin-panel-content animated flash">
                                        <p>Администратор системы наделен правами добавления различных пользователей. Администратору доступны и прочие функции. </p>
                                        <p>Помимо этого администратор системы наделен широкими правами по просмотру списка пользователей, а также заявок от клиентов.</p>
<!--                                        <p> Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisis ut aliquip ex ea commodo consequat consectetur adipisicing elit.</p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion-head">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                                            Описание роли банковского работника</a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse panel-ic collapse">
                                    <div class="panel-body admin-panel-content animated flash">
                                        <p>Сотруднику банка доступны функции по созданию банковских продуктов, одобрению или отклонению заявок пользователей.</p>
                                        <p>На банковского сотруника возлагается задача по созданию различных банковских продуктов для продвижения услуг представляемого им банка.</p>
<!--                                        <p> Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisis ut aliquip ex ea commodo consequat consectetur adipisicing elit.</p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion-head">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
                                            Комментарии относительно возможностей для пользователя</a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="panel-collapse panel-ic collapse">
                                    <div class="panel-body admin-panel-content animated flash">
                                        <p>Вниманию пользователя предложены банки, подключенные к системе, а также различные финансовые продукты.</p>
                                        <p>Клиент наделен правами создания заявки на предлагаемый продукт банка. Пользователь может пополнять собственный счет.</p>
                                        <p>Все пользователи системы могут редактировать свой профиль, а новый пользователь имеет доступ к системе через регистрацию.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- accordion End-->



    <!-- Footer -->
    <footer th:replace="inc/footer.inc::footer"></footer>

    <!-- Scripts -->
    <div th:replace="inc/js.inc::js"></div>

</body>
</html>