<!doctype html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="inc/head.inc::head"></head>

<body>
<!--[if lt IE 8]-->
<!--    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
<!--[endif]-->

<!-- Start Left menu area -->
<div th:replace="inc/left_menu.inc::left_menu"></div>

<!-- Start Welcome area -->
<div th:replace="inc/top_nav.inc::top_nav"></div>


<!--<tr th:each="user : ${users}">-->
<!--    <td th:text="${user.name}"></td>-->
<!--    <td><a href="#" th:text="${user.title}">Title ...</a></td>-->
<!--    <td th:text="${user.text}">Text ...</td>-->
<!--</tr>-->

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">

                    <h2>Клиенты</h2>
                    <table  cellpadding="5" width="400">
                        <thead>
                        <tr>
                            <th> Имя </th>
                            <th> Адрес электронной почты </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--    <tr th:if="${users == null}">-->
                        <!--        <td colspan="2"> No Books Available </td>-->
                        <!--    </tr>-->
                        <tr th:each="user : ${users}">
                            <td><span th:text="${user.name}"> NAME </span></td>
                            <td><span th:text="${user.email}"> EMAIL </span></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

</div>

<!-- Scripts -->
<div th:replace="inc/js.inc::js"></div>

</body>
</html>