<!doctype html>
<html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="inc/head.inc::head"></head>

<body>
<!--[if lt IE 8]-->
<!--    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
<!--[endif]-->

<!-- Start Left menu area -->
<div th:replace="inc/left_menu.inc::left_menu"></div>

<!-- Start Welcome area -->
<div th:replace="inc/top_nav.inc::top_nav"></div>


<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <!--    <div class="container-fluid">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--                <div class="logo-pro">-->
    <!--                    <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="analytics-sparkle-area">
        <div class="container-fluid">
            <div class="row">
                <tr th:each="bankbill : ${bankbills}">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                            <div class="analytics-content">
                                <h2><td><span th:text="${bankbill.name}"> Name </span></td></h2>
                                <h3><td><span th:text="${bankbill.description}"> Description </span></td></h3>
                                <h4>%<td><span th:text="${bankbill.percentRate}" class="counter"> Percentages </span></td></h4>
                                <td>
                                    <form method="POST" th:action="@{/claim/Create}">
                                        <input type="hidden" name="bankBillId" id="bankBillId" th:value="${bankBill.getId()}">
                                        <button type="submit" class="btn btn-primary submit" name="claim" value="Submit">
                                            Подать заявку
                                        </button>
                                    </form>
                                </td>
                                <span class="text-info"> </span>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" th:aria-valuenow="10"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 65%;"> <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>

                        </div>
                    </div>
            </div>
            </tr>

            <!--                <table>-->
            <!--                    <thead>-->
            <!--                    <tr>-->
            <!--                        <th> Name </th>-->
            <!--                        <th> Email </th>-->
            <!--                        <th> Percentages </th>-->
            <!--                    </tr>-->
            <!--                    </thead>-->
            <!--                    <tbody>-->
            <!--                    <tr th:each="bankbill : ${bankbills}">-->
            <!--                        <td><span th:text="${bankbill.name}"> Name </span></td>-->
            <!--                        <td><span th:text="${bankbill.description}"> Description </span></td>-->
            <!--                        <td><span th:text="${bankbill.percentRate}"> Percentages </span></td>-->
            <!--                    </tr>-->
            <!--                    </tbody>-->
            <!--                </table>-->

        </div>

    </div>
</div>
</div>
<!--</div>-->

<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!--</div>-->

<!-- Scripts -->
<div th:replace="inc/js.inc::js"></div>

</body>
</html>
