<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Проект - агрегатор банковских счетов</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" th:href="@{/css/leaflet.css}"/>
    <!--[if lte IE 8] -->
    <link rel="stylesheet" th:href="@{/css/leaflet.ie.css/}">
    <!--[endif]-->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{bootstrap/js/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
</head>

<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">

        <nav id="mainmenu"
             class="mainmenu align-items-center d-flex flex-column flex-md-row p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <ul>
                <li><h3 class="my-0 mr-md-auto font-weight-bold">Агрегатор банковских счетов</h3></li>
                <li>
                    <a href="index.html">Главная</a>
                </li>
            </ul>
            <a class="btn btn-outline-primary  pull-right" href="page-login.html">Выход</a>
        </nav>
    </div>
</div>

<div class="row justify-content-center align-items-center vertical-center claim-apply-body" style="margin: 0;">
    <div class="col-6  text-center">
            <h3 class="align-middle">Ваша заявка принята!</h3>
            <p class="align-middle">Решение по Вашей заявке будет принято в ближайшее время.</p>
        <img th:src="@{/img/good.png}" alt="Bank Bill Img" class="rounded mx-auto d-block">
        <a class="nav-link" href="/claim/all">Вернуться к списку банковских продуктов</a>
    </div>
</div>


<!-- Footer -->
<div class="footer fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-footer col-md-4 col-xs-6">
                <h3>Контакты</h3>
                <p class="contact-us-details">
                    <b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
                    <b>Phone:</b> +44 123 654321<br/>
                    <b>Fax:</b> +44 123 654321<br/>
                    <b>Email:</b> <a
                        href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">&copy; 2019 Агрегатор банковских счетов. All rights reserved.</div>
            </div>
        </div>
    </div>
</div>

<!-- Javascripts -->
<script th:src="@{/bootstrap/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/bootstrap/js/popper.min.js}"></script>
<script>window.jQuery || document.write('<script src="bootstrap/js/jquery-3.4.1.min.js"><\/script>')</script>
<script th:src="@{/bootstrap/js/bootstrap.js}" src=""></script>
<script th:src="@{http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js}"></script>
<script th:src="@{/bootstrap/js/jquery.fitvids.js}"></script>
<script th:src="@{/bootstrap/js/jquery.sequence-min.js}"></script>
<script th:src="@{/bootstrap/js/jquery.bxslider.js}"></script>
<script th:src="@{/js/main-menu.js}"></script>
<script th:src="@{/js/template.js}"></script>

</body>
</html>