<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Проект - агрегатор банковских счетов</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" th:href="@{/css/leaflet.css}"/>
    <!--[if lte IE 8] -->
    <link rel="stylesheet" th:href="@{/css/leaflet.ie.css/}">
    <!--[endif]-->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{bootstrap/js/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
</head>

<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->



<!--Bank list-->
<div class="section">
    <div class="container">
        <!--/*@thymesVar id="bankList" type="com.controllers.BanksListController"*/-->
        <div th:each="product : ${allUserProduct}" class="row">
            <div class="service-wrapper">
                <!--/*@thymesVar id="bank" type="com.entity.Bank"*/-->
                <!--<img th:src="${bank.getName()}" th:alt="${bank.getName()}">-->
                <p th:text="${product.getBankBill().getId()}">BankBill_id</p>
                <p th:text="${product.getBankBill().getName()}">BankBill_name</p>
                <p th:text="${product.getUser().getName()}">User</p>

            </div>
        </div>
    </div>
</div>

</body>
</html>